button{
    padding: 0px;
    margin-left: 1em;
    margin-right: 1em;
    display: flexbox;
    height: 2em;
    width: 100px;
}
 h1{
     background-color: rgb(146, 145, 129);
     font-size: 60px;
     font-weight: bold;
     text-align: center;
     margin-bottom: 50px;
 }
 i {
    cursor: pointer;
    color: red;
}


 .card-group:hover{
     background-color: rgb(103, 146, 221);
 }